.root {

}

#startScreen{
    -fx-background-image: url("../../../../../GUI/StartMenu.png");
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-size: 1280 720;

    -fx-effect: dropshadow(three-pass-box, black, 30, 0.5, 0, 0);
}

#GamemodeSelectionScreen{
    -fx-background-image: url("../../../../../GUI/Backgroud1.png");
    -fx-background-repeat: no-repeat;
    -fx-background-size: 1280 720;
    -fx-background-position: center;
    -fx-effect: dropshadow(three-pass-box, black, 30, 0.5, 0, 0);
}



#startBTN{
    -fx-border-color: transparent;
    -fx-border-width: 0;
    -fx-background-radius: 0;
    -fx-background-color: transparent;
    -fx-background-image: url("../../../../../GUI/StartGameButton.png");
    -fx-background-size: 1280 50;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center bottom;

}



#SinglePlayerButton{
    -fx-background-image: url("../../../../../GUI/SinglePlayerIcon.png");
    -fx-background-position: center;
    -fx-background-size: 250 250;
    -fx-padding: 8 15 15 15;
    -fx-background-insets: 0,0 0 5 0, 0 0 6 0, 0 0 7 0;
    -fx-background-radius: 8;
    -fx-background-color:
            linear-gradient(from 0% 93% to 0% 100%, #a34313 0%, #903b12 100%),
            #9d4024,
            #d86e3a,
            radial-gradient(center 50% 50%, radius 100%, #d86e3a, #c54e2c);
    -fx-effect: dropshadow( gaussian , rgba(0,0,0,0.75) , 4,0,0,1 );
}

#SinglePlayerButton:hover{
    -fx-background-image: url("../../../../../GUI/SinglePlayerIcon.png");
    -fx-background-position: center;
    -fx-background-size: 250 250;
    -fx-padding: 8 15 15 15;
    -fx-background-insets: 0,0 0 5 0, 0 0 6 0, 0 0 7 0;
    -fx-background-radius: 8;
    -fx-background-color:
            linear-gradient(from 0% 93% to 0% 100%, #a34313 0%, #903b12 100%),
            #9d4024,
            #9d4024,
            radial-gradient(center 50% 50%, radius 100%, #9d4024, #c54e2c);
    -fx-effect: dropshadow( gaussian , rgba(0,0,0,0.75) , 4,0,0,1 );
}


#MultiPlayerButton{
    -fx-background-image: url("../../../../../GUI/MultiPlayerIcon.png");
    -fx-background-position: center;
    -fx-background-size: 250 250;
    -fx-padding: 8 15 15 15;
    -fx-background-insets: 0,0 0 5 0, 0 0 6 0, 0 0 7 0;
    -fx-background-radius: 8;
    -fx-background-color:
            linear-gradient(from 0% 93% to 0% 100%, #a34313 0%, #903b12 100%),
            #9d4024,
            #d86e3a,
            radial-gradient(center 50% 50%, radius 100%, #d86e3a, #c54e2c);
    -fx-effect: dropshadow( gaussian , rgba(0,0,0,0.75) , 4,0,0,1 );
}

#MultiPlayerButton:hover {
    -fx-background-image: url("../../../../../GUI/MultiPlayerIcon.png");
    -fx-background-position: center;
    -fx-background-size: 250 250;
    -fx-padding: 8 15 15 15;
    -fx-background-insets: 0, 0 0 5 0, 0 0 6 0, 0 0 7 0;
    -fx-background-radius: 8;
    -fx-background-color: linear-gradient(from 0% 93% to 0% 100%, #a34313 0%, #903b12 100%),
    #9d4024,
    #9d4024,
    radial-gradient(center 50% 50%, radius 100%, #9d4024, #c54e2c);
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.75), 4, 0, 0, 1);
}

#BackButton{
    -fx-background-image: url("../../../../../GUI/BackIcon.png");
    -fx-background-position: center;
    -fx-background-size: 120 120;
    -fx-padding: 8 15 15 15;
    -fx-background-insets: 0,0 0 5 0, 0 0 6 0, 0 0 7 0;
    -fx-background-radius: 8;
    -fx-background-color:
            linear-gradient(from 0% 93% to 0% 100%, #4283a3 0%, #154290 100%),
            #36629d,
            #4283a3,
            radial-gradient(center 50% 50%, radius 100%, #4283a3, #154290);
    -fx-effect: dropshadow( gaussian , rgba(0,0,0,0.75) , 4,0,0,1 );

}

#BackButton:hover{
    -fx-background-image: url("../../../../../GUI/BackIcon.png");
    -fx-background-position: center;
    -fx-background-size: 120 120;
    -fx-padding: 8 15 15 15;
    -fx-background-insets: 0,0 0 5 0, 0 0 6 0, 0 0 7 0;
    -fx-background-radius: 8;
    -fx-background-color:
            linear-gradient(from 0% 93% to 0% 100%, #2a65a3 0%, #154290 100%),
            #36629d,
            #36629d,
            radial-gradient(center 50% 50%, radius 100%, #36629d, #154290);
    -fx-effect: dropshadow( gaussian , rgba(0,0,0,0.75) , 4,0,0,1 );

}

#SocketBTN{
    -fx-background-image: url("../../../../../GUI/socketBTNIcon.png");
    -fx-text-fill: transparent;
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
    -fx-background-size: 240 230;
    -fx-padding: 8 15 15 15;
    -fx-background-insets: 0,0 0 5 0, 0 0 6 0, 0 0 7 0;
    -fx-background-radius: 8;
    -fx-background-color:
            linear-gradient(from 0% 93% to 0% 100%, #a34313 0%, #903b12 100%),
            #9d4024,
            #d86e3a,
            radial-gradient(center 50% 50%, radius 100%, #d86e3a, #c54e2c);
    -fx-effect: dropshadow( gaussian , rgba(0,0,0,0.75) , 4,0,0,1 );
}

#SocketBTN:hover {
    -fx-background-image: url("../../../../../GUI/SocketBTNIcon.png");
    -fx-text-fill: white ;
    -fx-font-size: 50;
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
    -fx-background-size: 240 230;
    -fx-padding: 8 15 15 15;
    -fx-background-insets: 0, 0 0 5 0, 0 0 6 0, 0 0 7 0;
    -fx-background-radius: 8;
    -fx-background-color: linear-gradient(from 0% 93% to 0% 100%, #a34313 0%, #903b12 100%),
    #9d4024,
    #9d4024,
    radial-gradient(center 50% 50%, radius 100%, #9d4024, #c54e2c);
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.75), 4, 0, 0, 1);
}

#RMIBTN{
    -fx-background-image: url("../../../../../GUI/RMIBTNIcons.png");
    -fx-text-fill: transparent;
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
    -fx-background-size: 200 230;
    -fx-padding: 8 15 15 15;
    -fx-background-insets: 0,0 0 5 0, 0 0 6 0, 0 0 7 0;
    -fx-background-radius: 8;
    -fx-background-color:
            linear-gradient(from 0% 93% to 0% 100%, #a34313 0%, #903b12 100%),
            #9d4024,
            #d86e3a,
            radial-gradient(center 50% 50%, radius 100%, #d86e3a, #c54e2c);
    -fx-effect: dropshadow( gaussian , rgba(0,0,0,0.75) , 4,0,0,1 );
}

#RMIBTN:hover {
    -fx-background-image: url("../../../../../GUI/RMIBTNIcons.png");
    -fx-text-fill: white ;
    -fx-font-size: 100;
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
    -fx-background-size: 200 230;
    -fx-padding: 8 15 15 15;
    -fx-background-insets: 0, 0 0 5 0, 0 0 6 0, 0 0 7 0;
    -fx-background-radius: 8;
    -fx-background-color: linear-gradient(from 0% 93% to 0% 100%, #a34313 0%, #903b12 100%),
    #9d4024,
    #9d4024,
    radial-gradient(center 50% 50%, radius 100%, #9d4024, #c54e2c);
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.75), 4, 0, 0, 1);
}

#ReadyBTN{
    /*-fx-background-image: url("../../../../../GUI/RMIBTNIcons.png");*/
    -fx-text-fill: grey;
    -fx-font: 40 "Castellar";
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
    -fx-background-size: 250 250;
    -fx-padding: 8 15 15 15;
    -fx-background-insets: 0, 0 0 5 0, 0 0 6 0, 0 0 7 0;
    -fx-background-radius: 8;
    -fx-background-color: linear-gradient(from 0% 93% to 0% 100%, #a34313 0%, #903b12 100%),
    #9d4024,
    #9d4024,
    radial-gradient(center 50% 50%, radius 100%, #9d4024, #c54e2c);
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.75), 4, 0, 0, 1);
}

#ReadyBTN:selected{
    /*-fx-background-image: url("../../../../../GUI/RMIBTNIcons.png");*/

    -fx-text-fill: white ;
    -fx-font: 40 "Castellar";
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
    -fx-background-size: 250 250;
    -fx-padding: 8 15 15 15;
    -fx-background-insets: 0, 0 0 5 0, 0 0 6 0, 0 0 7 0;
    -fx-background-radius: 8;
    -fx-background-color: linear-gradient(from 0% 93% to 0% 100%, #2bde00 0%, #3f9500 100%),
    #3f9500,
    #3f9500,
    radial-gradient(center 50% 50%, radius 100%, #3f9500, #2bde00);
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.75), 4, 0, 0, 1);
}

#Player1WindowLabel{
    -fx-background-image: url("../../../../../GUI/RedWindowBlown.png");
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-size: 240 560;

}

#Timer {
    /*-fx-background-image: url("../../../../../GUI/RMIBTNIcons.png");*/

    -fx-text-fill: white;
    -fx-font: 40 "Castellar";
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
    -fx-background-size: 250 250;
    -fx-padding: 8 15 15 15;
    -fx-background-insets: 0, 0 0 5 0, 0 0 6 0, 0 0 7 0;
    -fx-background-radius: 8;
    -fx-background-color: linear-gradient(from 0% 93% to 0% 100%, #080707 0%, #000000 100%),
    #000000,
    #000000,
    radial-gradient(center 50% 50%, radius 100%, #000000, #080707);
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.75), 4, 0, 0, 1);
}

#PlayerLobbyLabel{
    -fx-text-fill: white;
    -fx-font: 16px "Castellar";
    /*-fx-font-size: 50;*/
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
    -fx-background-size: 250 250;
    -fx-padding: 8 15 15 15;
    -fx-background-insets: 0, 0 0 5 0, 0 0 6 0, 0 0 7 0;
    -fx-background-radius: 8;
    -fx-background-color: linear-gradient(from 0% 93% to 0% 100%, #080707 0%, #1d1d1d 100%),
    #1d1d1d,
    #1d1d1d,
    radial-gradient(center 50% 50%, radius 100%, #1d1d1d, #1d1d1d);
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.75), 4, 0, 0, 1);
}

#MenuText{
    -fx-text-fill: white;
    -fx-font: 40 "Castellar";
}


#DefaultButton{
    -fx-text-fill: white;
    -fx-font: 25 "Castellar";
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
    -fx-background-size: 200 230;
    -fx-padding: 8 15 15 15;
    -fx-background-insets: 0,0 0 5 0, 0 0 6 0, 0 0 7 0;
    -fx-background-radius: 8;
    -fx-background-color:
            linear-gradient(from 0% 93% to 0% 100%, #a34313 0%, #903b12 100%),
            #9d4024,
            #d86e3a,
            radial-gradient(center 50% 50%, radius 100%, #d86e3a, #c54e2c);
    -fx-effect: dropshadow( gaussian , rgba(0,0,0,0.75) , 4,0,0,1 );

}

#DefaultButton:hover{
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
    -fx-background-size: 200 230;
    -fx-padding: 8 15 15 15;
    -fx-background-insets: 0, 0 0 5 0, 0 0 6 0, 0 0 7 0;
    -fx-background-radius: 8;
    -fx-background-color: linear-gradient(from 0% 93% to 0% 100%, #a34313 0%, #903b12 100%),
    #9d4024,
    #9d4024,
    radial-gradient(center 50% 50%, radius 100%, #9d4024, #c54e2c);
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.75), 4, 0, 0, 1);
}

#TextField{
    -fx-border-color: Black;
    -fx-border-width: 0 0 3 0 ;
    -fx-padding: 0 0 -15 0;
    -fx-font: 60 "Edwardian Script ITC";
    -fx-background-color: transparent;
}

#TheGrid{

}

#Block{
    -fx-border-color: black;
    -fx-border-width:  4 4 4 4;
    -fx-background-color: white;
}

#primo_blocco{
    -fx-border-color: black;
    -fx-border-width:  4 4 4 4;
    -fx-background-image: url("../../../../../GUI/Shade1.png") ;
    -fx-background-size: 75 75;



}

#secondo_blocco{
    -fx-border-color: black;
    -fx-border-width:  4 4 4 4;
    -fx-background-color: red;
    -fx-background-size: 75 75;

}

#CardMenu{
    -fx-background-color: black;


}

#ToolCardBTN{
    -fx-background-color: transparent;
    -fx-text-fill: white;
    -fx-font: 25 "Centaur";
}

#ToolCardBTN:hover{
    -fx-background-color: transparent;
    -fx-text-fill: #ffd600;
    -fx-font: 25 "Centaur";
}

#ToolCardDisplayer{
    -fx-font: 33 "Centaur";
}

